<div id="contact-us">
    <h2>Contact Us</h2>
    <p><strong>Customer Service Hotline:</strong></p>
    <p>For any inquiries, assistance, or support, please call our 24/7 customer service hotline:</p>
    <p><strong>Phone:</strong> +91-90012-45627</p>
  
    <p><strong>Email Support:</strong></p>
    <p>Reach out to us via email for non-urgent matters or detailed queries:</p>
    <p><strong>Email:</strong> support@vbibank.com</p>
  
    <p><strong>Branch Locations:</strong></p>
    <p>Visit any of our branches for in-person assistance. Find the nearest branch using our branch locator on the website.</p>
    <p><strong>Website:</strong> <a href="http://www.vbibank.com/branches" target="_blank">www.vbibank.com/branches</a></p>
  
    <p><strong>Mailing Address:</strong></p>
    <p>For correspondence or document submissions, please mail to: <strong>support@vbibank.com</strong></p>
    <p>
      <strong>VBI Bank</strong><br>
      1234 Finance Street<br>
      Suite 100<br>
      Navalur, Chennai 600001
    </p>
  
    <p><strong>Online Support:</strong></p>
    <p>Access our online chat support for instant help during business hours on our website.</p>
    <p><strong>Website:</strong> <a href="http://www.vbibank.com/support" target="_blank">www.vbibank.com/support</a></p>
  
    <p><strong>Social Media:</strong></p>
    <p>Stay connected with us through our social media channels for updates and announcements:</p>
    <ul>
      <li><strong>Facebook:</strong> <a href="http://facebook.com/vbibank" target="_blank">facebook.com/vbibank</a></li>
      <li><strong>Twitter:</strong> <a href="http://twitter.com/vbibank" target="_blank">twitter.com/vbibank</a></li>
      <li><strong>Instagram:</strong> <a href="http://instagram.com/vbibank" target="_blank">instagram.com/vbibank</a></li>
    </ul>
  
    <p>We value your feedback and are here to help with all your banking needs.</p>
  </div>
  
